.container {
  max-width: 800px !important;
}

.card {
  border-radius: 1rem;
  border: 0;
}  

.submitButton {
  font-size: 20px;
  background-color: lightgrey;
}

input {
  border-radius: 0.7rem !important;
}

.form-check-input {
  border-radius: 0.25rem !important;
}
