.row-style {
    text-align: center;
}

.amount-owed{
    text-align: center;
    color: #df0404;
}

.amount-due{
    text-align: center;
    color: #05a105;
}


.popup-inner{
    padding: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.popup-inner .right-button{
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-size: 30px;
    padding: 16px 24px;
    margin: 10px 70px;
    cursor: pointer;
  }


.popup-inner .left-button{
  background-color: white;
  box-sizing: border-box;
  color: black;
  font-size: 30px;
  padding: 16px 24px;
  margin: 10px 500px;
  cursor: pointer;
}