.row-style {
    text-align: center;
}

.amount-owed{
    text-align: center;
    color: #df0404;
}

.amount-due{
    text-align: center;
    color: #05a105;
}

.table-page-button{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}