$delete-red: red;

.btnDelete {
  display: flex;
  align-items: center;
  background: none;
  border: None !important;
  height: 36px;
  border-radius: 12px;
  cursor: pointer;
  margin: 0 4px;
  
  &:focus {
    outline: none;
  }
  
  .mdi {
    margin: 2px;
  }
}

.btn-delete {
  font-size: 16px;
  color: red;
  
  >.mdi-delete-empty {
    display: none;
  }
  
  &:hover {
    background-color: lighten(red, 48%);
    
    >.mdi-delete-empty {
      display: block;
    }
    
    >.mdi-delete {
      display: none;
    }
  }
  

  
  &:focus {
    box-shadow: 0 0 0 4px lighten(red, 40%);
  }
}
