html {
  scroll-behavior: smooth;
}

.container {
  max-width: 800px !important;
}

.mainContainer {
  display: flex;
}

.card {
  border-radius: 1rem;
  border: 0;
}  

.submitButton {
  font-size: 20px;
  background-color: lightgrey;
}

input, select, button{
  border-radius: 0.7rem !important;
}

.form-check-input {
  border-radius: 0.25rem !important;
}

.form-switch .form-check-input {
  border-radius: 0.7rem !important;
}

.inputSelect {
  border-radius: 0.7rem !important;
  border-color: rgb(206, 212, 218);
  max-width: min-content
}

.inputSelect:hover {
  background-color: rgb(228, 228, 228);
}

@media (max-width: 768px) {
  .navBarGreeting {
    display: none;
  } 
}
.navLogin {
  text-align: center;
}

.navContainer {
  position: relative;
}

.navBrandLogin {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
