.container {
  max-width: 800px !important;
}

.mainContainer {
  display: flex;
}

.card {
  border-radius: 1rem;
  border: 0;
}  

.submitButton {
  font-size: 20px;
  background-color: lightgrey;
}

input, select {
  border-radius: 0.7rem !important;
}

.form-check-input {
  border-radius: 0.25rem !important;
}

.container-form-enabled-form,
.container-form-enabled-table {
  max-width: 800px !important;
  width: 50%;
  float: left;
}

.uForm {
  height: 650px !important;
}

.uTable {
  height: 650px !important;
  overflow-y: auto;
}

thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: lightgrey;
  z-index: 10;
}

@media (max-width: 1000px) {
  .mainContainer {
    display: block !important;
  }

  .container-form-enabled-form,
  .container-form-enabled-table {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
}

.popup-inner{
  padding: 32px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
}

.popup-inner .deleteUserButton{
  appearance: none;
  background-color: rgb(233, 7, 7);
  color:#FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}


.popup-inner .deleteUserButton:disabled {
  pointer-events: none;
}

.popup-inner .deleteUserButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.popup-inner .deleteUserButton:active {
  box-shadow: none;
  transform: translateY(0);
}


.popup-inner .cancelDeleteUserButton{
  appearance: none;
  background-color: rgb(12, 180, 12);
  margin-right: 20px;
  color:#FFFFFF;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  padding: 16px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.popup-inner .cancelDeleteUserButton:disabled {
  pointer-events: none;
}

.popup-inner .cancelDeleteUserButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.popup-inner .cancelDeleteUserButton:active {
  box-shadow: none;
  transform: translateY(0);
}



.obscureBackground{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}






