html {
  scroll-behavior: smooth;
}

.container {
  max-width: 800px !important;
}

.mainContainer {
  display: flex;
}

.card {
  border-radius: 1rem;
  border: 0;
}  

.submitButton {
  font-size: 20px;
  background-color: lightgrey;
}

input, select {
  border-radius: 0.7rem !important;
}

.form-check-input {
  border-radius: 0.25rem !important;
}

.navLogin {
  text-align: center;
}

.navContainer {
  position: relative;
}

.navBrandLogin {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
