.container-clientGradingBrackets {
    width: 50%;
}

#averageCollectionTime {
    margin-top: 25px;
    margin-bottom: 20px;
}

#saveGradingBracketsButton{
    width: "50%";
}

.inputTitle {
    display: flex;
    font-size: x-large;
    font-weight: bold;
}

.row{
    margin-bottom: 40px;
}