.loading-chart-report {
  height: 36px;
  align-items: center;
  display: flex;
  margin: 0 4px;
  padding: 0 6px;
}

#report-types-table {
  width: 100%
}

#report-recipient-list {
  border-radius: 0.7rem;
  max-height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* .container-reports-page {
  flex-flow: row wrap;
  display: flex;
  width: 100%;
  justify-self: center;
  max-width: 2100px;
} */

.container-reports-management {
  width: 40%;
}

.container-reports-table-employee {
  width: 100%;
}

.container-reports-table {
  width: 60%;
  float: left;
}

.container-chart-reports {
  width: 100%;
  float: left;
}

.performance-table-columns {
  text-align: center;
}

h4 {
  margin-bottom: 0;
  padding-bottom: 0.3rem;
}

@media all and (max-width: 1000px) {
  /* .container-reportsPage {
    flex-direction: column;
  } */

  .container-reports-management,
  .container-reports-table,
  .container-chart-reports {
    width: 100%;
  }
}