.container-form-enabled-form,
.container-form-enabled-table {
  max-width: 800px !important;
  width: 50%;
  float: left;
}

.uForm {
  height: 650px !important;
}

.uTable {
  height: 650px !important;
  overflow-y: auto;
}

thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: lightgrey;
  z-index: 10;
}

@media (max-width: 1000px) {
  .mainContainer {
    display: block !important;
  }

  .container-form-enabled-form,
  .container-form-enabled-table {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
}